*{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(0, 0, 0);
}

#navbar{
    padding: 1.2em 1.4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(97, 14, 14);
    text-decoration: none;
}
#navbar ul li {
   margin-left: 1em;
   text-decoration: none;

}
#navbar ul li a {
    transition: 0.5s;
    font-weight: bold;
    text-decoration: none;
}
#navbar ul li a:hover {
    color: rgb(61, 6, 6);
}
.container{
    min-height: 60vh;
    padding: 2em;
}

.auth-container{
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column
}
.auth-container h2{
    margin-bottom: 1em;
    color:#fff;
    padding: 0.3em;
    width: 100px;
}
.form-control{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-control label{
    font-weight: bold;
    margin-bottom: 0.5em;

}
.form-control input,
.form-control textarea{
    padding: 7px;
    border-radius: 3px;
    border: 1px solid rgb(240, 240, 240);
}
form input[type='submit'],
.btn{
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(26, 3, 56);
    padding: 0.5em 1.2em;
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;

    
}
form input[type='submit']:hover,
.btn:hover{
    background-color:rgb(172, 0, 0);
}

.title-container{
    display: flex;
justify-content: space-between;
margin-bottom: 1.5em;
}
.title-container h2{
    margin-bottom: 1.5em;
    text-align: center;
}
.dashboard ul {
    list-style: none;
}

.dashboard li {
    padding: 12px;
    border-bottom: 1px solid ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dashboard .label{
    font-weight: bold;
    margin-right: 2em;
}
.dashboard .actions{
    display: flex;
}
.dashboard .actions .btn{
    color: #fff;
    border-color: #fff;
    margin: 0 0.5em;
    

}

.home-header{
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
}

.home-header p,
.home-header form{
    margin-bottom: 1.2em;

}
.home-header input{
    border: none;
    border-bottom: 1px solid #fff;
    padding: 0.5em;
    margin-right: 1em;
}
.home-header input[type='text']{
    width: 60%;
}
.home-header input::placeholder{
    color: #fff;
}
.order-container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 0 auto 1em ;
}
.order-container span{
    font-weight: bold;
    color: #fff;
}
.order-container form{
    margin: 0;

}
.order-container button{
    margin-bottom: 0;
    border: none;
    cursor: pointer;
    padding: 0.3em;
    margin-left: 3px;
}

.order-container button:hover,
.order-container i:hover,
.order-container a:hover{
    transition: 0.5s;
    color:  rgb(247, 3, 3);

}
.order-container button,
.order-container i,
.order-container a{
  margin: 0 7px;  
}
.clients-container figure{
    border-bottom: 1px solid ;
    padding: 0.5em;
    max-width: 50%;
    margin: 0 auto 1em;
}
.clients-container blockquote{
    font-style: italic;
    font-size: 2em;
    margin-bottom: 0.4em;

}
.clients-container span{
    color: aqua;
}
.Name{
    margin-top: 10px;
}
.inpt{
    width: 450px;
}


footer {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}