*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    background: var(--preto-cinza);
    width: 100vw;
    
}

:root{
    --preto-cinza: #1f1f1f;
    --mostarda: #f0b955;
    --branco: #ffffff;
}

/*-----------navbar e footer-----------------*/


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    padding: 10px;
  }
  
  .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .menu a {
    margin: 1em;
    font-size: 18px;
    text-decoration: none;
    color: #fffbfb;
  }
  
  .menu a:hover {
    transition: 0.5s;
    color: #666;
  }
  
  .logo{
    
    text-align: center;
    
  }
  
  .logo h1 {
    margin: 0;
    font-size: 24px;
    text-transform: uppercase;
    color: #ffffff;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100vw;
  }
  
  
  footer p {
    margin: 0;
    font-size: 18px;
  }
  
  footer span {
    font-weight: bold;
  }
  
/*dashboard*/


.title-container{
    display: flex;
justify-content: space-between;
margin-bottom: 1.5em;
}
.title-container h2{

    color:var(--mostarda);
    margin-bottom: 1.5em;
    text-align: center;
}
.dashboard ul {
    list-style: none;
}
.sub-title{
    color: #ffffff;
    text-align: center;
}
.btn-1{
   
    color: #ffffff;
    font-size: 20px;
}
.btn-1:hover{
    transition: 0.5s;
    color: red;
    
}

.dashboard li {
    padding: 12px;
    border-bottom: 1px solid ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dashboard .label{
    font-weight: bold;
    margin-right: 2em;
}
.dashboard .actions{
    display: flex;
}
.dashboard .actions .btn{
    color: #fff;
    border-color: #fff;
    margin: 0 0.5em;
}
.client{
    font-size: 25px;
    margin-top: 15px;
    padding-top: 10px;
    color:#fff;
}



/*----------Login e register-------------*/
.auth-container{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 15px 25px rgba(240, 185, 84, 0.7);
    border-radius: 10px;
}

.auth-container h2{
    margin: 0 0 30px;
    padding: 0;
    color: var(--branco);
    text-align: center;
}

.auth-container .form-control input{
    position: relative;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: var(--branco);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #ffffff;
    outline: none;
    background: transparent;
}

.auth-container .form-control label{
    position: relative;
    left: 0;
    top: 8px;
    padding: 10px 0;
    font-size: 16px;
    color: var(--branco);
    pointer-events: none;
    transition: .5s;
}

.auth-container .form-control input:focus ~ label,
.auth-container .form-control input:valid ~ label{
    top: -85px;
    left: 0;
    color: var(--mostarda);
    font-size: 12px;
}

.auth-container2{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 15px 25px rgba(240, 185, 84, 0.7);
    border-radius: 10px;
}

.auth-container2 h2{
    margin: 0 0 30px;
    padding: 0;
    color: var(--branco);
    text-align: center;
}

.auth-container2 .form-control2 input{
    position: relative;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: var(--branco);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #ffffff;
    outline: none;
    background: transparent;
}

.auth-container2 .form-control2 label{
    position: relative;
    left: 0;
    top: 8px;
    padding: 10px 0;
    font-size: 16px;
    color: var(--branco);
    pointer-events: none;
    transition: .5s;
}

#submit{
    padding: 10px 20px;
    color: var(--preto-cinza);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    border: 1px solid #f0b955;
    margin: auto;
    cursor: pointer;
}

#submit:hover{
    background: #f0b955;
    color: var(--preto-cinza);
    border-radius: 5px;
    box-shadow: 0 0 5px #f0b955, 0 0 25px #f0b955, 0 0 50px #f0b955, 0 0 100px #f0b955;
}

.form-btn1{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#register{
    font-size: 14px;
    text-decoration: none;
    color: var(--branco);
    margin: auto;
    width: 60%;
    text-align: center;
}

#register a{
    margin: auto;
    color: var(--mostarda);
    text-decoration: none;
}

.agendamentos-form-container {
max-width: 600px;
margin: 0 auto;
text-align: center;
}

h1 {
    color: #fff;
font-size: 36px;
margin-bottom: 40px;
}

.form-control {
margin-bottom: 20px;
}

label {
color: #fff;
display: block;
font-size: 20px;
margin-bottom: 10px;
text-align: left;
}

.inpt {
width: 100%;
padding: 10px;
font-size: 20px;
border: none;
border-bottom: 2px solid #ccc;
}

.btn {
background-color: #008CBA;
color: white;
padding: 10px 20px;
font-size: 20px;
border: none;
border-radius: 5px;
cursor: pointer;
}

a {
display: inline-block;
margin-top: 20px;
font-size: 20px;
text-decoration: none;
color: #008CBA;
}

.agendamentos-form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .agendamentos-form-container a {
    display: inline-block;
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 20px;
  }
  
  .agendamentos-form-container h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .form-control label {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .form-control input[type="text"],
  .form-control input[type="date"] {
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .form-control input[type="text"]:focus,
  .form-control input[type="date"]:focus {
    outline: none;
    border-color: #008CBA;
  }
  
  .inpt[type="submit"] {
    display: inline-block;
    background-color: var(--mostarda);
    color: white;
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
  }
  .inpt:hover{
    transition: 0.5s;
    color: red;
  }
  