*{
    box-sizing: border-box;
}

body{
    background: var(--preto-cinza);
}

:root{
    --preto-cinza: #1f1f1f;
    --mostarda: #f0b955;
    --branco: #ffffff;
}

/*-----------navbar e footer-----------------*/

.nav{
    display: flex;
    align-items: center;
    background: var(--mostarda);
}

.nav ul{
    display: flex;
    gap: 72px;
    
}

.nav ul li{
    list-style: none;
    
}

footer{
    width: 100vw;
    text-align: center;
    font-weight: 400;
}

.nav ul li a{
    font-size: 26px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--branco);
    padding: 10px;
    transition: 0.5s ease;
    font-weight: 400;
    padding: 8px 15px;
    white-space: nowrap;
    text-align: right;
    position: inherit;
    flex: 0 1 auto;
    display: flex;
}

.nav ul:hover li a{
    color: var(--preto-cinza);
}

.nav ul:hover li a:not(:hover){
    color: var(--branco);
    opacity: 0.3;
    filter: blur(1px);
}

.nav a{
    font-size: 26px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--preto-cinza);
    padding: 10px;
    transition: 0.5s ease;
    font-weight: 400;
    padding: 8px 15px;
    white-space: nowrap;
    text-align: right;
}
/*----------Login e register-------------*/
.auth-container{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 15px 25px rgba(240, 185, 84, 0.7);
    border-radius: 10px;
}

.auth-container h2{
    margin: 0 0 30px;
    padding: 0;
    color: var(--branco);
    text-align: center;
}

.auth-container .form-control input{
    position: relative;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: var(--branco);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #ffffff;
    outline: none;
    background: transparent;
}

.auth-container .form-control label{
    position: relative;
    left: 0;
    top: -80px;
    padding: 10px 0;
    font-size: 16px;
    color: var(--branco);
    pointer-events: none;
    transition: .5s;
}

/*.auth-container .form-control input:focus ~ label,
.auth-container .form-control input:valid ~ label{
    top: -85px;
    left: 0;
    color: var(--mostarda);
    font-size: 12px;
}*/

.auth-container2{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 15px 25px rgba(240, 185, 84, 0.7);
    border-radius: 10px;
}

.auth-container2 h2{
    margin: 0 0 30px;
    padding: 0;
    color: var(--branco);
    text-align: center;
}

.auth-container2 .form-control2 input{
    position: relative;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: var(--branco);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #ffffff;
    outline: none;
    background: transparent;
}

.auth-container2 .form-control2 label{
    position: relative;
    left: 0;
    top: 8px;
    padding: 10px 0;
    font-size: 16px;
    color: var(--branco);
    pointer-events: none;
    transition: .5s;
}

#submit{
    padding: 10px 20px;
    color: var(--preto-cinza);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    border: 1px solid #f0b955;
    margin: auto;
    cursor: pointer;
}

#submit:hover{
    background: #f0b955;
    color: var(--preto-cinza);
    border-radius: 5px;
    box-shadow: 0 0 5px #f0b955, 0 0 25px #f0b955, 0 0 50px #f0b955, 0 0 100px #f0b955;
}

.form-btn{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#register{
    font-size: 14px;
    text-decoration: none;
    color: var(--branco);
    margin: auto;
    width: 60%;
    text-align: center;
}

#register a{
    margin: auto;
    color: var(--mostarda);
    text-decoration: none;
}