<div class="agendamentos-form-container">
    <a href="/clients/dashboard">Voltar</a>
    <h1>Editando agendamento</h1>
    <form action="/clients/edit" method="post">
    <input type="hidden" name="id" value="{{client.id}}">
    <div class="form-control">
       <input type="text" name="name" value="{{client.name}}">
       <label for="name">Nome</label>
    </div>
        <div class="form-control">
        <input type="date" name="date" value="{{client.date}}">
        <label for="date">Dia do corte</label>
    </div>
        <div class="form-control">
        <input type="text" name="type_of_cut" value="{{client.type_of_cut}}">
        <label for="type_of_cut">Tipo de corte</label>
    </div>
    <input type="submit" value="Editar agendamento">
    </form>
</div>