<div class="agendamentos-form-container">
    <a href="/clients/dashboard">voltar</a>
    <h1>criando um agendamento</h1>
    <form action="/clients/add" method="POST">
    <div class="form-control">
        <label for="titles">agendamentos</label>
        <input type="text" name="title" placeholder="digite o seu agendamento">
    </div>
    <input type="submit" value="criar agendamento">
    </form>
</div>